<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fake Bank</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
<head>
<body>
Курс 
<td>
    <span th:if="${op} == 'buy'" th:text="купівлі" /> 
    <span th:unless="${op} == 'buy'" th:text="продажу" />
</td>
<span th:text="${currency.cc}"/> (<span th:text="${currency.txt}"/>) <p/>
станом на <span th:text="${currency.exchangedate}"/> становить:<p/>

<span th:text="${currency.rate}"/>

</body>
</html>