<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Fake Bank</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<head>
<meta charset="UTF-8">
<title>Welcome to our Academy Fake Bank</title>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Academy Fake Bank</a>
	</nav>

	<main role="main" class="container">

	<div class="starter-template">
		<h1>Spring Boot Web Thymeleaf Example</h1>
		<h2>
			<span th:text="'Now is: ' + ${date} + '(з урахуванням часової зони)'"></span>
		</h2>
	</div>
	<th:block th:each="currency : ${currencies}">
          <a th:href="|/buy/${currency.cc}|">КУПИТИ</a>  [[${currency.txt}]] ([[${currency.cc}]]  )  
          <a th:href="|/sale/${currency.cc}|"> ПРОДАТИ </p></a> 
	</th:block> 
	
	   References:
    <ul>
    <li> <a href="https://www.baeldung.com/thymeleaf-in-spring-mvc"> baeldung intro </a> </il>
    <li> <a href="https://www.baeldung.com/spring-thymeleaf-request-parameters"> baeldung params</a> </il>
    <li> <a href="https://www.mkyong.com/spring-boot/spring-boot-hello-world-example-thymeleaf/"> mkyong short spring boot </a> </il>
    <li> <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html"> official  </a> </il>
    </ul>
	</main>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>
</html>